<!DOCTYPE html>
<html>
  <body>
    <div class="container-fluid-style d-flex justify-content-center align-items-center">
      <div class="bg-white p-5 rounded-5 text-secondary shadow border" style="width: 25rem; height: 30rem;">
        <div class="d-flex justify-content-center text-dark">
          <h1>Login</h1>
        </div>
        <div class="input-group mt-3">
          <div class="input-group-text bg-light">
            <i class="bi bi-person-circle" ></i>
          </div>
          <input class="form-control bg-light" type="text" placeholder="Username"/>
        </div>

        <div class="input-group mt-2">
          <div class="input-group-text bg-light">
            <i class="bi bi-lock"></i>
          </div>
          <input class="form-control bg-light" type="text" placeholder="Password"/>
        </div>

        <p class="text-center mt-2">
          <a href="#" class="text-decoration-none fst-italic text-muted text2-style">Forgot your password?</a>
        </p>

        <div class="text1-style mt-4">
          <p class="text-center">By clicking “Sign In”, you agree to the Privacy Policy and Terms of Use.</p>
        </div>

        <button class="btn btn-dark text-white w-100 mt-2 fw-semibold shadow-sm" type="submit">Sign In</button>

        <div class="d-flex gap-1 justify-content-center mt-2">
          <div class="text2-style justify-content-center text-muted">Don't have an account?</div>
          <a routerLink="/create-account" routerLinkActive="active" class="text2-style text-decoration-none text-dark fw-semibold ">Register</a>
        </div>

      </div>
    </div>
  </body>



</html>
