
.menu-style {
  color:#000000ac;
  height: 40px;
}

.text-logo-style {
  font-family: serif;
}

footer {
	background-color:#1A1A1A;
	height: 50%;
  color: #cac7c762;
  padding: 25px;
  font-size: small;
}

.main1 {
  display:flex;
  margin:0 auto;
}

a img:hover {
    color: #fff;
}

.button-style {
  background: #eceaea99;
  height: 30px;
  width: 100px;
  padding: 1px;
}

.buttonF-style {
  background: #ffffff;
  height: 30px;
  width: 80px;
  padding: 1px;
  border: none;
}

.textCards-style {
  font-size: medium;
}

.input-style{
  height: 30px;
}

.container-fluid-style {
  height: 700px;
}

.text1-style {
  font-size: small;
}

.text2-style {
  font-size:medium;
}

.btn-dropdown-style {
  background: white;
  height: 30px;
  width: 100px;
  padding: 1px;
}
